header {
    background-color: #FA7300;
}

header a, form {
    margin-left: 10px;
}

header img {
    width: 80px;
}

.avaliacao-container {
    background-color: blanchedalmond;
    padding: 20px;
    border-radius: 10px;
}

.rating {
    display: flex;
    justify-content: center; /* Centralize horizontalmente */
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    font-size: 24px;
}

.rating label:before {
    content: '\2605';
}

.rating label:hover:before,
.rating label:hover ~ label:before {
    content: '\2605';
    color: gold;
}

.rating input:checked ~ label:before {
    content: '\2605';
    color: gold;
}


footer {
    background-color: gray;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

footer .destaque {
    text-decoration: none;
    color: white;
}

#logo {
    width: 100px;
}
        
        