header {
    background-color: #FA7300;
}

header a, form {
    margin-left: 10px;
}

header img {
    width: 80px;
}

main {
    text-align: center;
    padding: 3%;
}

label {
    padding: 3px;
    margin: 3px;
}

main img {
    width: 100px;
    height: 100px;
}

footer {
    background-color: gray;
    bottom: 0%;
    width: 100%;
}

footer .destaque {
    text-decoration: none;
    color: white;
}

#logo {
    width: 100px;
}