header {
    background-color: #FA7300;
}

header a, form {
    margin-left: 10px;
}

header img {
    width: 80px;
}

footer {
    background-color: gray;
}

footer .destaque {
    text-decoration: none;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
}

main p {
    margin-top: 15px;
    font-size: large;
}

#logo {
    width: 100px;
}

#imgsobre {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FA2005;
}

main {
    background-color: white;
}

header a {
    text-decoration: none;
    color: black;
}