header {
    background-color: #FA7300;
}

header a, form {
    margin-left: 10px;
}

header img {
    width: 80px;
}

main {
    text-align: center;
    padding: 7%;
}

main img {
    width: 100px;
    height: 100px;
    margin: 10px;
}

div .login {
    border: 5%;
}

footer {
    background-color: gray;
    position: absolute;
    bottom: 0%;
    width: 100%;
}

footer .destaque {
    text-decoration: none;
    color: white;
}

#logo {
    width: 100px;
}