header {
    background-color: rgb(255, 97, 39);
}

header a, form {
    margin-left: 10px;
}

header img {
    width: 80px;
}

footer {
    background-color: gray;
}

footer .destaque {
    text-decoration: none;
    color: white;
}
